[Desktop Entry]
Encoding=UTF-8
Name=Iconic
Comment=Iconic P2P Cryptocurrency
Comment[fr]=Iconic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Iconic, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Iconic-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/Iconic;
Categories=Office;
